{{>validate}}
{{>imageCrop}}
{{>admin-navbar}}



<div class="mainDiv addProduct">
    <div class="container">
        <div class="row">
            <div class=" formDiv">

                <div class="mx-auto" style="border-bottom: 1px solid #ced4da;">
                    {{#if product}}
                    <h2>Update Product</h2>
                    {{else}}
                    <h2>Add Product</h2>
                    {{/if}}
                </div>
                <div class="container" style="margin-top: 10px;">


                    <div class="container">
                        <form {{#if product}} action="/admin/updateProduct/{{product._id}}" {{else}}
                            action="/admin/addProduct" {{/if}} method="post" enctype="multipart/form-data"
                            id="addProductForm">
                            <div class="row form-group">
                                <div class="col-6">
                                    <p>
                                        <label for="name">Product Name</label>
                                        <span id="errName" class="errSpan"></span>
                                    </p>
                                    <input name="name" type="text" class="form-control bigInputs"
                                        pattern='^[a-z A-Z\\s]+'
                                        oninvalid="validate(event,'errName','Required and Alphabets only')"
                                        onfocus="clearErr(event,'errName')" id="username"
                                        required>{{product.name}}</input>
                                    <br>
                                    <p>
                                        <label for="description">Description</label>
                                        <span id="errDesc" class="errSpan"></span>
                                    </p>
                                    <input name="description" type="textarea" class="form-control bigInputs"
                                        pattern='^[a-z A-Z\\s]+'
                                        oninvalid="validate(event,'errDesc','Required and Alphabets only')"
                                        onfocus="clearErr(event,'errDesc')" id="description"
                                        required>{{product.description}}</input>

                                    <div class="imgBoxP2 ">
                                        <label class="mx-auto d-inline">Images</label>
                                        <label for="file" id="newImage" class="addimagebtn">Add new image</label>
                                        <input type="file" name="files" id="file" style="display:none" multiple
                                            onchange="imagechange(event)" required>

                                        <div class="imagesBox form-control col" id="appendImages">
                                            <script>
                                                function imageload(id, count) {
                                                    for (var i = 0; i < count; i++) {
                                                        let presentdiv = document.getElementById('appendImages')

                                                        let div = document.createElement('div');
                                                        div.id = 'imagediv' + i
                                                        div.className = 'd-inline'
                                                        presentdiv.appendChild(div)

                                                        let image = document.createElement('img');
                                                        image.src = '/images/products/' + id + '/' + i + '.jpg'
                                                        image.id = 'productimage' + i

                                                        let newdiv = document.getElementById('imagediv' + i)
                                                        newdiv.appendChild(image)

                                                        let itag = document.createElement('i')
                                                        itag.className = "fa fa-close close"
                                                        newdiv.appendChild(itag)
                                                    }
                                                }
                                                imageload('{{product._id}}', '{{product.imagescount}}')
                                            </script>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                                <label for="price">Price</label>
                                                <span id="errPrice" class="errSpan"></span>
                                            </p>
                                            <input name="price" type="text" class="form-control"
                                                pattern="^\d{0,8}(\.\d{2})?$"
                                                oninvalid="validate(event,'errPrice','Required')"
                                                onfocus="clearErr(event,'errPrice')" placeholder="0000.00"
                                                value="{{product.price}}" required>
                                        </div>
                                        <div class="col">
                                            <p>
                                                <label for="maxPrice">Max Price</label>
                                                <span id="errMaxPrice" class="errSpan"></span>
                                            </p>
                                            <input name="maxPrice" type="text" class="form-control"
                                                pattern="^\d{0,8}(\.\d{2})?$"
                                                oninvalid="validate(event,'errMaxPrice','Required')"
                                                onfocus="clearErr(event,'errMaxPrice')" placeholder="0000.00"
                                                value="{{product.maxPrice}}">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                            <label for="stock">Stock</label>
                                            <span id="stock" class="errSpan"></span>
                                            </p>
                                            <input name="stock" type="text" class="form-control"
                                                pattern="^\d{1,}$"
                                                oninvalid="validate(event,'stock','Required')"
                                                onfocus="clearErr(event,'stock')"
                                                value="{{product.stock}}" required>
                                        </div>
                                        <div class="col">
                                            <label for="offer">Offer</label>
                                            <input name="offer" type="text" class="form-control"
                                                value="{{product.offer}}">
                                        </div>
                                        <div class="col">
                                            <p>
                                            <label for="brand">Brand</label>
                                            <span id="brand" class="errSpan"></span>
                                            </p>
                                            <input name="brand" type="text" class="form-control"
                                                oninvalid="validate(event,'brand','Required')"
                                                onfocus="clearErr(event,'brand')"
                                                value="{{product.brand}}" required>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div style="display: flex; justify-content: space-between;">
                                            <h5 style="display: inline;">Categories</h5>
                                            <div style="display: inline; text-align: right;">
                                                <p style="display: inline; color: #3083b3; cursor: pointer;">Add new
                                                    Catergory</p>
                                                <p style="display: inline; cursor: pointer; color: #cc2e99;"
                                                    id="new-categ">Add new field</p>
                                                {{!-- <img src="/images/clipart433845.png" alt=""
                                                    style="width: 20px; margin-left: 20px;" id="new-categ"> --}}
                                            </div>
                                        </div>
                                        <div class=""
                                            style="padding: 0%; margin: 0%; overflow: auto; height:185px; margin-left: 11px;"
                                            id="categ-parent">
                                            <div id="categ-label" style="margin-bottom: 9px;">
                                                <input type="text" id="categ-key" name="category-1-key"
                                                    class="form-control d-inline categ">
                                                <h4 style="display: inline;"> :</h4>
                                                <input type="text" id="categ-value" name="category-1-value"
                                                    class="form-control d-inline categ">
                                            </div>

                                            <script>

                                                let sl = 2

                                                let addNewCategBtn = document.getElementById('new-categ')

                                                addNewCategBtn.addEventListener('click', () => {

                                                    let categParent = document.getElementById('categ-parent')

                                                    let newlabel = document.createElement('div')
                                                    newlabel.style = "margin-bottom : 9px;"
                                                    newlabel.id = 'label' + sl
                                                    categParent.appendChild(newlabel)
                                                    let parent = document.getElementById('label' + sl)

                                                    let keyInput = document.createElement('input')
                                                    keyInput.type = 'text'
                                                    keyInput.id = 'categ-key' + sl
                                                    keyInput.name = 'category-' + sl + '-key'
                                                    keyInput.classList = 'form-control d-inline categ'
                                                    parent.appendChild(keyInput)

                                                    let colon = document.createElement('h4')
                                                    colon.style = "display: inline;"
                                                    colon.innerHTML = ' : '
                                                    parent.appendChild(colon)

                                                    let valueInput = document.createElement('input')
                                                    valueInput.type = 'text'
                                                    valueInput.id = 'categ-value' + sl
                                                    valueInput.name = 'category-' + sl + '-value'
                                                    valueInput.classList = 'form-control d-inline categ'
                                                    parent.appendChild(valueInput)

                                                    sl++;
                                                })







                                            </script>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="d-flex justify-content-center" style=" margin-bottom: 10px;">
                                <input type="submit">
                            </div>
                        </form>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function imagechange(event) {

        for (var i = 0; i < event.target.files.length; i++) {

            let presentdiv = document.getElementById('appendImages')

            let div = document.createElement('div');
            div.id = 'imagediv' + i
            div.className = 'd-inline'
            presentdiv.appendChild(div)

            let image = document.createElement('img');
            image.src = URL.createObjectURL(event.target.files[i])
            image.id = 'productimage-' + i
            image.style = 'cursor:pointer'
            let newdiv = document.getElementById('imagediv' + i)
            newdiv.appendChild(image)

            document.getElementById('productimage-' + i).onclick = function () { crop(this.id, event) }

            let itag = document.createElement('i')
            itag.className = "fa fa-close close"
            newdiv.appendChild(itag)
        }

    }




    var closebtns = document.getElementsByClassName("close");
    var i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.classList.add("d-none")
            this.parentElement.classList.remove("d-inline")

        });
    }


    function invalid(data) {
        alert('dataa')

        let errMsgId = data.errId
        let errorMessage = data.errMsg
        document.getElementById(errMsgId).innerHTML = errorMessage
        alert(data)
    }

</script>