{{>user-navbar}}

<div class="cartMain">
    <div class="container">

        <div class="row">
            <div class="col cartProducts">
                <div class="cartTable">
                    <div id="cartPortion">


                        <h5>My Cart ({{count}})</h5>
                        <div class="cart-overflow-div" style="overflow: auto; height: 450px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 20%;">Items</th>
                                        <th style="width: 30%;"></th>
                                        <th style="width: 15%; text-align: center;">Quantity</th>
                                        <th style="width: 15%; text-align: center;">Unit Price</th>
                                        <th style="width: 15%; text-align: center;">Total Price</th>
                                    </tr>
                                </thead>
                                {{#each products}}
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="imagetd">
                                                <img class="m-auto" src="/images/products/{{this.product._id}}/0.jpg"
                                                    alt="">
                                            </div>
                                        </td>
                                        <td rowspan="2">{{this.product.name}}</td>
                                        <td style="text-align: center;">
                                            <button
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1, {{this.product.price}}), disableArrowDown('{{this.product._id}}',1)"
                                                style="cursor: pointer; color: black; font-size: 20pt;  display: block; width: 28px ;
                                             height: 28px; border-radius: 50%; margin-left: auto; margin-right: auto;">
                                                &#8963;
                                            </button>
                                            <p style="margin-bottom: 0rem;" id="quantityNumber{{this.product._id}}">
                                                {{this.quantity}}</p>
                                            <button id="downArrow{{this.product._id}}"
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1, {{this.product.price}}),disableArrowDown('{{this.product._id}}',-1)"
                                                style="cursor: pointer; color: black; font-size: 20pt; display: block; width: 28px ;
                                             height: 28px; border-radius: 50%; margin-left: auto; margin-right: auto;">
                                                <span style="position: relative; top: -16px;">
                                                    &#8964;
                                                </span>
                                            </button>
                                        </td>
                                        <td style="text-align: center;" id="perpiece{{this.product._id}}">
                                            {{this.product.price}}</td>
                                        <td style="text-align: center; font-weight: bolder;"
                                            id="total{{this.product._id}}">
                                            {{this.total}}</td>
                                    </tr>
                                    <tr class="cart-endrow">
                                        <td colspan="3" class="text-align-right cart-mng-buttons">
                                            <button onclick="deleteCartItem('{{this.product._id}}','{{this._id}}')"
                                                class="remove fa fa-trash-o">
                                            </button>

                                            <button class="wishlist fa fa-heart-o">
                                            </button>

                                        </td>
                                    </tr>

                                </tbody>
                                {{/each}}

                            </table>
                        </div>
                    </div>




                    {{!-- place order page START --}}



                    <div id="deliveryPortion" hidden>
                        <h5>Delivery Address</h5>
                        <hr>

                        <form action="" class="container" id="checkout-form">
                            <div class="row">
                                <div class="col">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="mobile">Mobile Number</label>
                                    <input type="text" name="mobile" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="pin">Pin Code</label>
                                    <input type="text" name="pin" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="locality">Locality</label>
                                    <input type="text" name="locality" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Address</label>
                                    <input type="text" name="address" class="form-control" style="height: 70px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="town">City/District/Town</label>
                                    <input type="text" name="town" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="state">State</label>
                                    <input type="text" name="state" class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="payment" value="cod" checked>
                                    <label for="">COD Payment</label>

                                    <input type="radio" name="payment" value="online">
                                    <label for="">Online Payment</label>
                                </div>
                            </div>
                            <br>
                            <input type="text" name="userId" value="{{user._id}}" hidden>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" style="width: 200px; height: 30px;">Save and Deliver
                                        here</button>
                                </div>
                            </div>
                        </form>

                    </div>


                    {{!-- place order page END --}}





                </div>
            </div>
            <div class="col cartDetails">
                <div class="cartDetails1">
                    <h4>Price Details</h4>
                    <hr>
                    <table>
                        <tr>
                            <td>Price (3 items)</td>
                            <td id="cartTotal{{this.product._id}}">{{cartTotal}}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>00.0</td>
                        </tr>
                        <tr>
                            <td>Delivery Charges</td>
                            <td>00.0</td>
                        </tr>
                        <tr style="font-weight: bolder; border-top: 1px solid rgb(212, 208, 208);">
                            <td style="font-size: 18pt;">Total Amount</td>
                            <td style="font-size: 18pt;" id="cartFinalTotal{{this.product._id}}">{{cartTotal}}</td>
                        </tr>
                    </table>
                    <div>
                        <button class="placeorder" onclick="placeOrder()" id="placeOrderButton">
                            PLACE ORDER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>


    function disableArrowDown(productId, count) {
        let quantity = $('#quantityNumber' + productId).html()
        quantity = parseInt(quantity) + count
        if (quantity == 1) {

            document.getElementById('downArrow' + productId).setAttribute("disabled", true)
        } else {
            document.getElementById('downArrow' + productId).removeAttribute("disabled")
        }

    }

    function changeQuantity(cartid, productid, count, pricePerPiece) {
        let perpieceId = '#perpiece' + productid
        let totalId = '#total' + productid

        let perpiece = $(perpieceId).html()
        let total = $(totalId).html()

        total = parseInt(total) + (parseInt(perpiece) * count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartid,
                product: productid,
                count: count,
                total: total
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    let id = '#quantityNumber' + productid
                    let quantity = $(id).html()
                    quantity = parseInt(quantity) + count
                    $(id).html(quantity)

                    $(totalId).html(total)

                    document.getElementById('cartTotal').innerHTML = response.cartTotal
                    document.getElementById('cartFinalTotal').innerHTML = response.cartTotal

                }
            }
        })
    }


    function deleteCartItem(productId, cartId) {
        $.ajax({
            url: '/deleteCartItem',
            method: 'post',
            data: {
                product: productId,
                cart: cartId
            },
            success: (response) => {
                if (response.status) {
                    window.location.href = '/cart'
                }
            }
        })
    }


    function placeOrder() {
        document.getElementById('cartPortion').hidden = true
        document.getElementById('deliveryPortion').hidden = false
        document.getElementById('placeOrderButton').hidden = true
    }

    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codStatus) {
                    location.href = "/cart?codStatus=true"
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_geBt4AZgkHuX27", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Kids World",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)

                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    alert('payment success')
                }else{
                    alert('payment failed')
                }
            }
        })
    }

</script>