{{>user-navbar}}

<div class="cartMain">
    <div class="container">

        <div class="row">
            <div class="col cartProducts">
                <div class="cartTable">
                    <div id="cartPortion">


                        <h5>My Cart ({{count}})</h5>
                        <div class="cart-overflow-div" style="overflow: auto; height: 450px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 20%;">Items</th>
                                        <th style="width: 30%;"></th>
                                        <th style="width: 15%; text-align: center;">Quantity</th>
                                        <th style="width: 15%; text-align: center;">Unit Price</th>
                                        <th style="width: 15%; text-align: center;">Total Price</th>
                                    </tr>
                                </thead>
                                {{#each products}}
                                <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <div class="imagetd">
                                                <img class="m-auto" src="/images/products/{{this.product._id}}/0.jpg"
                                                    alt="">
                                            </div>
                                        </td>
                                        <td rowspan="2">{{this.product.name}}</td>
                                        <td style="text-align: center;">
                                            <button
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1, {{this.product.price}}), disableArrowDown('{{this.product._id}}',1)"
                                                style="cursor: pointer; color: black; font-size: 20pt;  display: block; width: 28px ;
                                             height: 28px; border-radius: 50%; margin-left: auto; margin-right: auto;">
                                                &#8963;
                                            </button>
                                            <p style="margin-bottom: 0rem;" id="quantityNumber{{this.product._id}}">
                                                {{this.quantity}}</p>
                                            <button id="downArrow{{this.product._id}}"
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1, {{this.product.price}}),disableArrowDown('{{this.product._id}}',-1)"
                                                style="cursor: pointer; color: black; font-size: 20pt; display: block; width: 28px ;
                                             height: 28px; border-radius: 50%; margin-left: auto; margin-right: auto;">
                                                <span style="position: relative; top: -16px;">
                                                    &#8964;
                                                </span>
                                            </button>
                                        </td>
                                        <td style="text-align: center;">
                                            <span id="perpiece{{this.product._id}}">{{this.product.price}}</span><br>
                                            <span style="color: greenyellow;">{{this.product.offer}} </span>
                                            <span style="color: red;"><strike><i
                                                        class="fa fa-inr"></i>{{this.product.maxPrice}}</strike></span>
                                        </td>
                                        <td style="text-align: center; font-weight: bolder;"
                                            id="total{{this.product._id}}">
                                            {{this.total}}</td>
                                    </tr>
                                    <tr class="cart-endrow">
                                        <td colspan="3" class="text-align-right cart-mng-buttons">
                                            <button
                                                onclick="deleteCartItem('{{this.product._id}}','{{this._id}}'),notify('{{this.product.name}} is deleted from your cart')"
                                                class="remove fa fa-trash-o">
                                            </button>

                                            <button class="wishlist fa fa-heart-o">
                                            </button>

                                        </td>
                                    </tr>

                                </tbody>
                                {{/each}}

                            </table>
                        </div>
                    </div>




                    {{!-- place order page START --}}



                    <div id="deliveryPortion" hidden>
                        <h5>Delivery Address</h5>
                        <hr>

                        <form action="" class="container" id="checkout-form">
                            <a href="/addressManagement" class="btn btn-primary ms-auto">Add New Address</a>
                            {{#each addresses}}
                            <section class="container" id="checkout-form">
                                <input type="radio" name="address" value="{{this._id}}" checked>
                                <div class="row">

                                    <strong>
                                        {{this.address.name}} - {{this.address.mobile}}
                                    </strong>

                                </div>
                                <div class="row">

                                    <p>
                                        {{this.address.address}}, {{this.address.locality}},{{this.address.town}},
                                        {{this.address.state}} - {{this.address.pin}}
                                    </p>
                                </div>
                            </section>
                            {{/each}}
                            <br>
                            <input type="text" id="grandTotalInput" name="GrandTotal" hidden>
                            <div class="row">
                                <div class="col">
                                    <input type="radio" name="payment" id="cod" value="cod" checked>
                                    <label for="">COD Payment</label>

                                    <input type="radio" name="payment" id="onlinePayment" value="razorpay">
                                    <label for="">Online Payment</label>

                                </div>
                                <div id="onlinePay" style="display:flex; justify-content:space-evenly; margin-top:33px">

                                    <button type="submit"
                                        style="width:223px; height:81px; background-color:blue; display: inline-block;
                                    margin-top:0; border-radius:6px; display: flex; justify-content: center; align-items: center;">
                                        <img style="width: 100px; backgroud-color: blue;border-radius: 5px;"
                                            src="/images/png-clipart-india-payment-gateway-razorpay-startup-company-india-company-text.png">
                                    </button>
                                    <div id="paypal" style="width: 223px; display: inline-block;"></div>
                                </div>
                            </div>
                            <script>
                                $('#onlinePay').hide()
                                $('#cod').on('change', () => {
                                    $('#onlinePay').hide()
                                    $('#cod_submit_btn').show()
                                })
                                $('#onlinePayment').on('change', () => {
                                    $('#onlinePay').show()
                                    $('#cod_submit_btn').hide()
                                })


                            </script>

                            <br>
                            <input type="text" name="userId" value="{{user._id}}" hidden>
                            <div class="row">
                                <div class="col" id="cod_submit_btn">
                                    <button type="submit" style="width: 200px; height: 30px;">Place Order</button>
                                </div>
                            </div>
                        </form>

                    </div>


                    {{!-- place order page END --}}





                </div>
            </div>
            <div class="col cartDetails">
                <div class="cartDetails1">
                    <h4>Price Details</h4>
                    <hr>
                    <table>
                        <tr>
                            <td>Price ({{count}})</td>
                            <td id="cartTotal">{{cartTotal}}</td>
                        </tr>
                        <tr>
                            <td>Coupon Discount</td>
                            <td id="discountAmnt">00.0</td>
                        </tr>
                        <tr id="fromWallet">
                            <td>From wallet</td>
                            <td id="walletAmnt">00.0</td>
                        </tr>
                        {{#if referal}}
                        <tr>
                            <td>Reference Discount</td>
                            <td id="referalDisc">100</td>
                        </tr>
                        {{/if}}
                        <tr>
                            <td>Delivery Charges</td>
                            <td>00.0</td>
                        </tr>
                        <tr
                            style="width: 300px; font-weight: bolder; border-top: 1px solid rgb(212, 208, 208); position: absolute; bottom:100px">
                            <td style="font-size: 18pt;">Total Amount</td>
                            <td style="font-size: 18pt;" id="cartFinalTotal"></td>
                        </tr>
                    </table>
                    <div style="position:absolute; bottom:155px" id="checkboxdiv">
                        <input type="checkbox" id="walletCheckbox" value="{{user.wallet}}">
                        <h6 class="d-inline">Use your wallet balance : {{user.wallet}}</h6>
                    </div>
                    <script>
                        function reloadGrandTotal() {
                            let total = $('#cartTotal').html()
                            let discount = $('#discountAmnt').html()
                            let referalDisc = $('#referalDisc').html() | 0
                            let walletAmnt = $('#walletAmnt').html() | 0
                            let grandtotal = total - discount - referalDisc - walletAmnt
                            $('#cartFinalTotal').html(grandtotal)


                        }
                        reloadGrandTotal()

                        let total = $('#cartFinalTotal').val()
                        let walletbal = $('#walletCheckbox').val()
                        if (walletbal < 1) {
                            $('#checkboxdiv').hide()
                        }

                        $('#fromWallet').hide()
                        $('#walletCheckbox').on('change', () => {
                            const cb = document.getElementById('walletCheckbox');
                            if (cb.checked) {
                                $('#fromWallet').show()
                                getWalletAmnt() 
                            } else {
                                $('#fromWallet').hide()
                                $('#walletAmnt').html(0)
                            }
                            reloadGrandTotal()
                        })


                        function getWalletAmnt() {
                            let insertingWalletAmnt;
                            if (total < walletbal) {
                                insertingWalletAmnt = walletbal - total
                            } else {
                                insertingWalletAmnt = walletbal
                            }

                            $('#walletAmnt').html(insertingWalletAmnt)
                        }




                    </script>
                    <div class="couponDiv">
                        <form action="/redeemcoupon" method="POST" id="couponForm" hidden>
                            <input type="text" name="coupon_code" id="couponInput">
                            <input type="submit" value="Apply Coupon">
                            <p id="couponErr"></p>
                        </form>
                    </div>
                    <script>
                        $('#couponForm').submit((event) => {
                            event.preventDefault()
                            $.ajax({
                                url: '/redeemcoupon',
                                data: $('#couponForm').serialize(),
                                method: 'post',
                                success: (response) => {
                                    if (response) {
                                        let total = $('#cartTotal').html()
                                        let discount = (response.discount * total) / 100
                                        $('#discountAmnt').html(discount.toFixed(2))
                                        reloadGrandTotal()
                                        $('#couponErr').html('The coupon is applied')

                                        setTimeout(function () {
                                            timeout('#couponErr')
                                            $('#couponInput').val('')
                                        }, 2000)
                                    } else {
                                        $('#couponErr').html('The coupon is not valid')
                                        setTimeout(function () { timeout('#couponErr') }, 2000)
                                    }
                                }
                            })
                        })

                        function timeout(id) {
                            $(id).html('')
                        }
                    </script>
                    <div>
                        <button class="placeorder" onclick="placeOrder()" id="placeOrderButton">
                            Check Out
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>notification}}

<script>


    function disableArrowDown(productId, count) {
        let quantity = $('#quantityNumber' + productId).html()
        quantity = parseInt(quantity) + count
        if (quantity == 1) {

            document.getElementById('downArrow' + productId).setAttribute("disabled", true)
        } else {
            document.getElementById('downArrow' + productId).removeAttribute("disabled")
        }

    }

    function changeQuantity(cartid, productid, count, pricePerPiece) {
        let perpieceId = '#perpiece' + productid
        let totalId = '#total' + productid
        let perpiece = $(perpieceId).html()
        let total = $(totalId).html()

        total = parseInt(total) + (parseInt(perpiece) * count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartid,
                product: productid,
                count: count,
                total: total
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    let id = '#quantityNumber' + productid
                    let quantity = $(id).html()
                    quantity = parseInt(quantity) + count
                    $(id).html(quantity)

                    $(totalId).html(total)
                    console.log('quantity added')
                    console.log(response)
                    document.getElementById('cartTotal').innerHTML = response.cartTotal
                    document.getElementById('cartFinalTotal').innerHTML = response.cartTotal
                    reloadGrandTotal()
                }
            }
        })
    }


    function deleteCartItem(productId, cartId) {
        $.ajax({
            url: '/deleteCartItem',
            method: 'post',
            data: {
                product: productId,
                cart: cartId
            },
            success: (response) => {
                if (response.status) {
                    setTimeout(
                        window.location.href = '/cart'
                        , 3000)
                }
            }
        })
    }


    function placeOrder() {
        document.getElementById('cartPortion').hidden = true
        document.getElementById('deliveryPortion').hidden = false
        document.getElementById('placeOrderButton').hidden = true
        document.getElementById('couponForm').hidden = false
    }

    $("#checkout-form").submit((e) => {
        e.preventDefault()
        let grandTotal = $('#cartFinalTotal').html()
        $('#grandTotalInput').val(grandTotal)
        $.ajax({
            url: '/place_order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codStatus) {
                    location.href = "/paymentSuccessful"
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_geBt4AZgkHuX27", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Kids World",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/paymentSuccessful'
                } else {
                    alert('Payment failed')
                }
            }
        })
    }








    const amount = $('#cartFinalTotal').html()
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            $('#onlinePayment').val('paypal')
            const form_data = $('#checkout-form').serialize()
            return actions.order.capture().then(function (details) {
                $.ajax({
                    url: '/place_order',
                    method: 'post',
                    data: form_data,
                    success: (response) => {
                        location.href = "/paymentSuccessful"
                    }
                })
            });
        }
    }).render('#paypal');






</script>