{{>user-navbar}}


<div class="cartMain">
    <div class="container">
        <div class="row">
            <div class="col cartProducts">
                <div class="cartTable">



                    <h4>Order Summary</h4>
                    <hr>

                    <table style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th>sl</th>
                                <th>Product</th>
                                <th>Date</th>
                                <th>Payment</th>
                                <th>status</th>
                                <th>action</th>
                            </tr>
                        </thead>
                    </table>
                    <div style="height: 390px; overflow: auto;">

                        <table>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td>{{this.product.name}}</td>
                                    <td>{{this.date}}</td>
                                    <td>{{this.paymentMethod}}</td>
                                    <td class="statusNow">{{this.status}}</td>
                                    <td>
                                        <p onclick="cancelOrder('{{this._id}}')" class="btn btn-danger my-2"
                                            style="height: 40px;">Cancel</p>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function cancelOrder(orderId) {
        $.ajax({
            url: '/cancelOrder',
            method: 'post',
            data: {
                orderId: orderId
            },
            success: (response) => {
                location.href = '/OrderView'
            }
        })
    }

    function removebtn() {
        let length = document.getElementsByClassName('btn-danger').length

        console.log(length)
        for (var i = 0; i < length; i++) {
            let status = document.getElementsByClassName('statusNow').item(i).innerHTML
            if (status === 'Cancelled') {
                let elem = document.getElementsByClassName('btn-danger').item(i).hidden=true
            }

        }
    }
    removebtn()
</script>